
<div class="relative w-full glide-04">

    <div class="overflow-hidden" data-glide-el="track">
        <ul
            class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform]">
            <li class="border-r-4 border-red-200 border-dashed">
                <div class="w-[180px] max-w-full max-h-full h-full m-auto text-center flex flex-col justify-between items-center">
                    <img src="../../../assets/img/dulcefina-studio008481-1.jpg" class="w-[100px] rounded-lg" />
                    <div>
                        <span>Name Product</span>
                        <p>price $00.00</p>
                    </div>
                </div>
            </li>
            <li class="border-r-4 border-red-200 border-dashed">
                <div class="w-[180px] max-w-full max-h-full h-full m-auto text-center flex flex-col justify-between items-center">
                    <img src="../../../assets/img/GRAGEA-02.jpg" class="w-[100px] rounded-lg" />
                    <div>
                        <span>Name Product</span>
                        <p>price $00.00</p>
                    </div>
                </div>
            </li>
            <li class="border-r-4 border-red-200 border-dashed">
                <div class="w-[180px] max-w-full max-h-full h-full m-auto text-center flex flex-col justify-between items-center">
                    <img src="../../../assets/img/para-popup-2.jpg" class="w-[100px] rounded-lg" />
                    <div>
                        <span>Name Product</span>
                        <p>price $00.00</p>
                    </div>
                </div>
            </li>
            <li class="border-r-4 border-red-200 border-dashed">
                <div class="w-[180px] max-w-full max-h-full h-full m-auto text-center flex flex-col justify-between items-center">
                    <img src="../../../assets/img/torta-rosada-mariposas.jpg" class="w-[100px] rounded-lg" />
                    <div>
                        <span>Name Product</span>
                        <p>price $00.00</p>
                    </div>
                </div>
            </li>
            <li class="border-r-4 border-red-200 border-dashed">
                <div class="w-[180px] max-w-full max-h-full h-full m-auto text-center flex flex-col justify-between items-center">
                    <img src="../../../assets/img/GRAGEA-02.jpg" class="w-[100px] rounded-lg" />
                    <div>
                        <span>Name Product</span>
                        <p>price $00.00</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>